# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
venv/

# Recording files
recordings/*

# Logs
logs/*

# Environment variables
.env

# macOS
.DS_Store
__MACOSX/

# Git
.git/

# Playing around with Qt
playground/

# PyInstaller
*.spec
*.manifest
*.spec.py
entitlements.plist
runtime_hook.py

# PyInstaller build
dist/
build/
